* {
  margin: 0;
  padding: 0;
}
#myvideo {
  position: fixed;
  min-height: 100%;
  right: 0;
  bottom: 0;
  min-width: 100%;
}
.btn {
    width: 100px;
    height: 26px;
    padding-left: 6px;
    position: fixed;
    bottom: 0;
}